.setting-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 52px);

  &__container {
    flex: 1;
    margin: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
  }
}
