.modal-confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;

  p {
    margin-bottom: 16px;
    text-align: center;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
